@import 'styles/utils.scss';

.ReqBox{
  display :flex;
  flex-direction: row;
  width : 100%;
  align-items: center;
}
@media screen and (max-width : 1024px) {
  .ReValue{
    font-size : 1.5vh;
  }
}
@media screen and (max-width : 768px) {
  .ReValue{
    font-size : 2.5vw;
  }
}