@import 'styles/utils.scss';

.Order {
  grid-area: o;
  display : flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border: $lightorange 5px solid;
  height: calc(100% - 10px);
  .Header {
    text-align: center;
    font-size : 30px;
    flex: 1;
    @include ArrangeCenter;
  }

  .Payment {
    flex : 2;
    width : 100%;
    height: 100%;
    flex-direction: column;
    @include ArrangeCenter;
    .TotalPrice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      width: 95%;
      font-size : 25px;
      // margin : 10px;
    }
    Button{
      flex : 2;
      width : 100%;
      // margin :10px;
      background-color: $lightpink;
    }
  }
}

@media screen and (max-width : 1024px ) {
  .Order {
    .TotalPrice{
      font-size : 2vh;
    }
  }
}
@media screen and (max-width : 768px) {
  .Order{
    position: fixed;
    right : 80px;
    height : 80%;
    opacity: 0;
    transform: translate(500px);
    transition-timing-function: ease-in-out;
    border: none;
  }
  .Mobile {
    display: flex;
    position: fixed;
    transform: translate(80px);
    transition-timing-function: ease-in-out;
    transition : 0.3s;
    z-index: 15;
    height: 80%;
    opacity: 1;
    width: 80%;
    background-color: white;
    align-items: flex-start;
    .Header {
      width :100%;
      font-size : 5vh;
    }
    .ReqBox {
      display : flex;
      flex-direction: row;
      width : 100%;
    }
    .Payment {
      flex : 2;
      width : 100%;
      height: 100%;
      flex-direction: column;
      @include ArrangeCenter;
      .TotalPrice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        width: 95%;
        font-size : 4vh;
        margin : 5px;
      }
      Button{
        flex : 2;
        // margin :10px;
        background-color: $lightpink;
      }
    }
  }
}
@media screen and (max-width : 480px) {
  .Order{
    transform: translate(500px, 60px);
  }
  .Mobile {
    transform: translate(80px, 60px);
  }
}