.Order {
  grid-area: o;
  background-color: darkseagreen;
  display : flex;
  align-items: center;
  justify-content: space-around;

  .OrderList{
    flex : 2;
    background-color : salmon;
    display: grid;
    
  }
  .PayMethod {
    flex : 1;
    background-color: brown;
  }
  .Payment {
    flex : 1;
    background-color: yellowgreen;
  } 
}