@import '../../styles/utils.scss';

.ReValue{
  flex : 3;
  width : 99.7%;
  font-size : 2vh;
  padding : 5px 0;
}
@media screen and (max-width : 1024px) {
  .ReValue{
    font-size : 1.5vh;
  }
}
@media screen and (max-width : 768px) {
  .ReValue{
    font-size : 2.5vw;
  }
}