.Order {
  grid-area: o;
  background-color: darkseagreen;
  display : flex;
  align-items: center;
  justify-content: space-around;
  .OrderList{
    height: 100%;
    flex : 2;
    background-color : salmon;
    align-self: flex-start;
    box-sizing: border-box;
    .OrderColumn , .OrderedItems {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      font-size : 2.5vh;
      border-bottom : 2px solid black;
    }
    .OrederdItemList{
      height: calc(100% - 55px);
      overflow:  hidden scroll;
      padding-bottom : 2px;
      .OrderedItems {
        display: grid;
        grid-auto-columns: minmax(0,1fr);
        grid-auto-rows: minmax(auto,4vh);
        grid-template-areas: 
        'on op oc otp';
        border-bottom : none;
        margin : 5px 0;
        text-align: center;
        .OrderedItemName {
          grid-area : on;
        }
        .OrderedItemPrice{
          grid-area: op;
        }
        .OrderedItemCount {
          grid-area : oc;
        }
        .OrderedItemTotalPrice {
          grid-area: otp;
        }
      }
    }
  }
  .PayMethod {
    align-self: flex-start;
    font-size : 2vh;
    height : 100%;
    flex : 1;
    background-color: brown;
    display: flex;
    flex-flow: column;
    .PaymentTitle{
      font-size : 2.5vh;
      background-color: aquamarine;
      display : block;
      flex : 1;
    }
    .RadioBtn {
      padding : 10px 0;
      background-color: beige;
      flex:2;
    }
    .Required{
      flex:10;
      display: flex;
      flex-flow : column;
      select {
        width : 100%;
        font-size : 2vh;
        height: 3vh;
      }
      .ReValue{
        flex : 3;
        width : 100%;
        font-size : 2vh;
        padding : 5px 0;
      }
    }
  }
  .Payment {
    flex : 1;
    display : flex;
    background-color: yellowgreen;
    height: 100%;
    flex-direction: column;
    .TotalPrice {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      width: 95%;
      font-size : 4vh;
      border: 1px solid black;
      border-radius: 10px;
      padding : 10px;
    }
    Button{
      flex : 2;
    }
  } 
}