@import 'styles/utils.scss';

.OrederdItemList{
  height: calc(100% - 3vh);
  width : 100%;
  flex:5;
  overflow:  hidden scroll;
  text-align: center;
  font-size : 2.5vh;
  .SelectedOrderedItems {
    background-color: rgb(123, 129, 129);
  }
  .OrderedItems {
    display: grid;
    grid-auto-columns: minmax(0,1fr);
    grid-auto-rows: minmax(auto,4vh);
    grid-template-areas: 
    'on op'
    'oc otp';
    grid-gap : 5px 0;
    border-bottom : none;
    margin : 10px 0;
    align-items: center;
    padding : 0 10px;
    color : black;
    font-weight: bolder;
    .OrderedItemName {
      grid-area : on;
      text-align: left;
      font-weight: bold;
      font-size : 3.5vh;
    }
    .OrderedItemPrice{
      grid-area: op;
      text-align :right;
      color : $lightpink;
    }
    .OrderedItemCount, .OrderedItemTotalPrice {
      font-weight: 400;
      font-size: 3vh;
      color : grey;
    }
    .OrderedItemCount {
      grid-area : oc;
    }
    .OrderedItemTotalPrice {
        text-align :right;
        grid-area: otp;
    }
  }
}

@media (max-width : 768px) {
  .OrederdItemList{
    font-size : 2vh;
  }
}