.CategoryBar {
  width : 100%;
  background-color: #283947;
  display : flex;
  justify-content: center;
  align-items: flex-start;
  grid-area : c;
  .All {
    width: 100%;
    background-color: #DCAB8B;
    text-align: center;
    font-size : 2.5vh;
    cursor: pointer;
    padding : 10px 0 ;
  }
}

@media (max-width : 700px) {
  .CategoryBar {
    display : none;
    width : 80%;
    z-index: 15;
    transition : transform 0.3s ease-in-out;
  }
  .Open{
    transform: translateX(0);
    display : block;
    position : fixed;
    height: 100%;
  }
  .Close {
    transform: translateX(-80%);
  }
}