@import 'styles/utils.scss';

.CategoryBar {
  width : 100%;
  background-color: $darknavy;
  display : flex;
  align-items: flex-start;
  grid-area : c;
  flex-direction: column;
  font-size :25px;
  .All, .Login , .CheckOrderHistory{
    width: 100%;
    background-color: $lightorange;
    text-align: center;
    cursor: pointer;
    padding : 10px 0 ;
    .aTag{
      width : 100%;
    }
  }
}
@media screen and (max-width : 1024px) {
  .CategoryBar {
    font-size : 20px;
  }
}
@media screen and (max-width : 768px) {
  .CategoryBar {
    position : fixed;
    width : 50%;
    z-index: 16;
    transform: translate(-500px);
    transition-timing-function: ease-in-out;
    border: none;
  }
  .Open{
    display : flex;
    position : fixed;
    height: 100%;
    transform: translate(0);
    transition-timing-function: ease-in-out;
    transition : 0.3s;
  }
}
