// @import 'lib/_media screen and.scss';
// @import 'lib/_color.scss';

$breakpoints: (small: 320px, smedium: 450px,  medium: 480px, mediumLarge : 768px ,large: 1024, wide: 1300px);

// 메인 컬러
$lightgray: #adb5bd;
$darkgray: #9AABB9;
$lightorange: #DCAB8B;
$lightyellow: #F39278;
$lightpink : #da3450;
$darknavy: #212529;



//가운데정렬
@mixin ArrangeCenter {
  display : flex;
  justify-content: center;
  align-items: center;
}
