// @import 'lib/_media screen and.scss';
// @import 'lib/_color.scss';

$breakpoints: (small: 320px, smedium: 450px,  medium: 480px, mediumLarge : 768px ,large: 1024, wide: 1300px);

// 메인 컬러
$lightgray: #adb5bd;
$lightorange: #DCAB8B;
$lightyellow: #F39278;
$lightpink : #da3450;
$darknavy: #212529;
$baseBlack : #0C202D;
$lightOrange : #F3E3D1;
$grey : #ccc;
$scrollbar : #F5F5F5;
$scrollbarShadow : rgb(185, 183, 183);


//가운데정렬
@mixin ArrangeCenter {
  display : flex;
  justify-content: center;
  align-items: center;
}
