.Toolbar{
  width : 100%;
  height: 12vh;
  background-color: #0C202D;
  position: fixed;
  display : flex;
  align-items: center;
  justify-content: center;
  .Logo {
    cursor: pointer;
    font-size: 3vh;
    color : #F3E3D1;
    font-weight: 700;
    // border: 2px solid green;
    padding : 20px;
  }
}