.Toolbar{
  width : 100%;
  height: 12vh;
  background-color: #0C202D;
  position: fixed;
  display : flex;
  align-items: center;
  justify-content: center;
  
  .Logo {
    cursor: pointer;
    font-size: 3vh;
    font-weight: 700;
    // border: 2px solid green;
    padding : 20px;
    a{
      color : #F3E3D1;
    }
  }
  .User {
    font-size:  1.5vw;
    color : #F3E3D1;
    display: inline;
    transform: translateX(30vw)
  }
  .Hamburger , .Payment {
    display: none;
  }
}

@media screen and (max-width : 768px) {
  .Toolbar {
    height: 8vh;
    justify-content: space-around;

    .Logo {
      font-size : 2.5vh
    }
    .User{
        font-size:  3vw;
        color : #F3E3D1;
        transform: none;
        span{
          padding-right: 5px;
          cursor: default;
        }
      .Payment{
        font-size: 5vh;
        color : white;
        display: inline-block;
        cursor: pointer;
      }
    }
    .Hamburger {
      width: 50px;
      height: 6.5vh;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0;
      box-sizing: border-box;
      cursor: pointer;
      div {
        width: 90%;
        height: 3px;
        background-color: white;
      }
    }
  }
}