.Toolbar{
  width : 100%;
  height: 12vh;
  background-color: #0C202D;
  position: fixed;
  display : flex;
  align-items: center;
  justify-content: center;
  
  .Logo {
    cursor: pointer;
    font-size: 3vh;
    color : #F3E3D1;
    font-weight: 700;
    // border: 2px solid green;
    padding : 20px;
  }
  .Hamburger , .Payment {
    display: none;
  }
}

@media screen and (max-width : 700px) {
  .Toolbar {
    height: 8vh;
    justify-content: space-around;

    .Logo {
      font-size : 2.5vh
    }
    .Payment{
      font-size: 5vh;
      color : white;
      display: inline-block;
      cursor: pointer;
    }
    .Hamburger {
      width: 50px;
      height: 6.5vh;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0;
      box-sizing: border-box;
      cursor: pointer;
      div {
        width: 90%;
        height: 3px;
        background-color: white;
      }
    }
  }
}