@import '../../styles/utils.scss';

.Layout {
  width:  100%;
  .Content {
    padding-top: 12vh;
    display : grid;
    grid-auto-columns: minmax(0px,1fr);
    grid-auto-rows: minmax(auto, 120px);
    grid-template-areas: 
    "c i i i i o o"
    "c i i i i o o"
    "c i i i i o o"
    "c i i i i o o"
    "c i i i i o o"
  }
  @media screen and (max-width : 1024px) {
    .Content{
      padding-top : 12vh;
      grid-template-areas: 
      "c i i i i i"
      "c i i i i i"
      "c i i i i i"
      "c i i i i i"
      "c i i i i i"
      "c i i i i i"
      "o o o o o o"
      "o o o o o o"
    }
  }
  @media screen and (max-width : 768px) {
    .Content{
      padding-top : 8vh;
      grid-template-areas: 
      "i i i i"
      "i i i i"
      "i i i i"
      "i i i i"
      "i i i i"
      "i i i i"
      "i i i i"
      "i i i i"
      "f f f f"
    }
  }
}
