@import 'styles/utils.scss';

.Layout {
  width:  100%;
  height: 100%;
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 1pt;
  .Content {
    padding-top: 12vh;
    display : grid;
    height: 100%;
    grid-auto-columns: minmax(0px,1fr);
    grid-auto-rows: minmax(auto, 12vh);
    grid-template-areas: 
    "c i i i i o o"
    "c i i i i o o"
    "c i i i i o o"
    "c i i i i o o"
    "c i i i i o o"
    "c i i i i o o"
    "c i i i i o o";
  }
  @media screen and (max-width : 1400px) {
    .Content {
      padding-top : 12vh;
      grid-auto-rows: minmax(auto, 17vh);
      grid-template-areas: 
      "c i i i i o o"
      "c i i i i o o"
      "c i i i i o o"
      "c i i i i o o"
      "c i i i i o o";
    }
  }
  @media screen and (max-width : large) {
    .Content {
      padding-top : 12vh;
      grid-auto-rows: minmax(auto, 17vh);
      grid-template-areas: 
      "c i i i i o o"
      "c i i i i o o"
      "c i i i i o o"
      "c i i i i o o"
      "c i i i i o o";
    }
  }
  @media screen and (max-width : 768px) {
    .Content{
      padding-top : 60px;
      grid-auto-rows: minmax(auto, 10vh);
      grid-template-areas: 
      "i i i i"
      "i i i i"
      "i i i i"
      "i i i i"
      "i i i i"
      "i i i i"
      "i i i i"
      "i i i i"
      "i i i i"
    }
  }
}
