@import 'styles/utils.scss';

.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  letter-spacing: 2pt;
  // font-size : 2.5vh;
}
.ConfirmOrder {
  font-size : 60px;
  padding : 0 20px;
  color : white;
  font-weight: 300;
}
.CountBtn {
  font-weight: 600;
}
.Login {
  background-color: $lightpink;
  font-size : 20px;
  margin : 10px;
}
.ShoppingCart {
  font-size : 3vh;
  line-height: -0vh;
}
.Danger {
  text-align:  center;
  padding : 0 10px;
}
.Confirm {
  font-size : 2vh;
  padding : 1vh;
  color : white;
  background-color: $lightpink;
  margin : 10px;
}
@media screen and (max-width : 1024px) {
  .ConfirmOrder {
    font-size : 45px;
  }
}
@media screen and (max-width : 768px) {
  .ShoppingCart {
    font-size : 4vw;
  }
  .ConfirmOrder {
    font-size : 45px;
    margin: none;
  }
}
@media screen and (max-width : 450px) {
  .ShoppingCart {
    font-size : 5vw;
  }
}
