.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  margin: 10px;
  font-weight: bold;
  font-size : 3vh;
}
@media (max-width : 1450px) {
  .Button {
    margin: 10px 5px;
  }
}
.ConfirmOrder {
  color: rgb(223, 73, 98);
  font-size : 10vh;
  padding : 0 20px;
}
.CountBtn {
  font-weight: 600;
}

.ShoppingCart {
  font-size : 4vh;
  line-height: -0vh;
}
.Confirm {
  font-size : 2vh;
  padding : 1vh;
  background-color: #F39278;
  color : white;
}
@media (max-width : 900px) {
  .ShoppingCart {
    font-size : 4vw;
  }
}
@media (max-width : 550px) {
  .ShoppingCart {
    font-size : 6vw;
  }
}