.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  font-size : 2.5vh;
}
.ConfirmOrder {
  color: rgb(223, 73, 98);
  font-size : 9vw;
  padding : 0 20px;
}
.CountBtn {
  font-weight: 600;
}
.Login {
  background-color: rgb(223, 73, 98);
}
.ShoppingCart {
  font-size : 3vh;
  line-height: -0vh;
}
.Confirm {
  font-size : 2vh;
  padding : 1vh;
  background-color: #F39278;
  color : white;
}
@media screen and (max-width : 1024px) {
  .ConfirmOrder {
    font-size : 8vw;
  }
}
@media screen and (max-width : 768px) {
  .ShoppingCart {
    font-size : 4vw;
  }
  .ConfirmOrder {
    font-size : 4vh;
    margin : 0 5px;
    padding : 0 10px;
  }
}
@media screen and (max-width : 450px) {
  .ShoppingCart {
    font-size : 5vw;
  }
}
