.Item {
  border : 1px solid black;
  box-sizing: border-box;
  display : flex;
  flex-flow : column;
  img {
    width: 100%;
  }
  .MenuName {
    text-align: center;
    padding  : 5px 0 ;
    font-size : 2vh;
    font-weight: 600;
    background-color: #adb5bd;
  }
  .WrapperImg {
    display : flex;
    flex : 4;
  }
  
  .InfoWrapper {
    flex : 1;
    display : flex;
    align-items: center;
    justify-content: space-between;
    font-size : 1.6vw;
    background-color: #adb5bd;
    
    .DetailInfo {
      padding: 0 10px;
      
    }
    .ControlCount{
      display : flex;
      justify-content: space-around;
      align-items: center;
      .CountBtn {
        cursor: pointer;
        padding : 0 10px;
      }
      .Count {
        margin : 0 10px;
      }
      @media screen and (max-width : 768px) {
        .Count {
        margin : 0 5px;
        }
      }
    }
  }
  @media (max-width : 768px) {
    .InfoWrapper {
      font-size : 2.5vw;
    }
  }
  @media (max-width : 450px) {
    .InfoWrapper {
      font-size : 5vw;
    }
  }
}
