

.LoginWrapper{
  grid-area : i;
  display : flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  
  .LoginBox {
    background-color: #283947;
    width: 350px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .LoginAccount {
      width : 75%;
      .FormWrapper {
        display: flex;
        flex-direction: column;
      }
      span {
        color : #F3E3D1;
        font-weight: 600;
      }
      margin-bottom: 5px;
      .LoginId, .LoginPassword{
        padding-top : 5px;
        display : flex;
        justify-content: space-between;
      }
    }
    
  }
  
}
@media screen and (max-width: 768px) {
  .LoginWrapper {
    display : flex;
    align-items: unset;
    .LoginBox {
      transform : translateY(50%)
    }
    @media screen and (max-width : 350px) {
      .LoginBox {
        width : 300px;
        height: 200px;
        .LoginAccount{
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}